# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.rar

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
*.factorypath

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~



*.xml~

# system ignore
.DS_Store
Thumbs.db



# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
